@import url(root.css);
@media (prefers-color-scheme: dark) {
  :root{   
    --color-bg: var(--color-span)FFF;
    --color-bg-second: #d9d9d9;
    --color-text: #0F0F0F;
    --color-span: #272727;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Quicksand", sans-serif;
  max-width: 90rem; 
  margin: auto;
} 
ul{
  list-style-type: none;
}
button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}
button:hover{
  opacity: 0.7;
}

h2{
  color: var(--color-text);
  text-align:left;
  font:var(--h-font);
}
.Restaurant-info{
  margin: 1rem;
  & .Restaurant-header{
    display: flex;
    flex-wrap: wrap;  
    /*hovertei*/  
    & .heart:hover{
      opacity: 0.8;
    }
    & h2{
      margin-right: 1rem;
    }
    & .heart-label {
      cursor: pointer;
      fill: none;
      stroke: var(--color-text);
      stroke-width: 0.1rem;
      position: relative;
      right: -60%;
      margin-right: 5rem;
    }
    & #heart-checkbox {
      display: none;
    }
    & .heart-label:has(:checked)  {
      fill: var(--color-accent);
      stroke: var(--color-accent);
      stroke-width: 0.1rem;
    }
    & .share{
      position: relative  ;
      right: -58%;
      margin-right: 2rem;
      fill: var(--color-text)
    }   
  }
  & #Restaurant-overview{
    display: flex;
    margin-top: 3rem;
    align-items: center;
    & .Restaurant-details{
      width: 30%;
      height: 35rem;
      padding-left: 2.5rem;
      background-color: var(--color-bg-second);
      border-radius: 1.25rem;
      & h3{
        color: var(--color-text);
        text-align: center;
        font: var(--p-font);
        font-size: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: -2.5rem;
      }
      & p{
        color: var(--color-text);
        font: var(--p-font);
      }
      & span{
        color: var(--color-span);
        font: var(--p-font);
        cursor: pointer;
      }
      & em{
        width: 2.9375rem;
        height: 1.5rem;
        padding: 0.25rem 0.625rem;
        align-items: center;
        text-align: center;
        gap: 0.5rem;
        flex-shrink: 0;
        border-radius: 6.25rem;
        background: var(--color-text);
        color:var(--color-bg-second);
        font:var(--p-font);
        font-size: 0.75rem;
      }
      & li{
        line-height: 2rem;
      }
      & label{
          font:var(--p-font) ;
      }
      & a{
        text-decoration: none;
        color: var(--color-span);
        font: var(--p-font);
      }
      & .rt-location{
        margin-left: -2.5rem;
        margin-top: 2rem;
        text-align: center;
        line-height: normal;
        & i{
          color: aliceblue;
        }
      }
      & .rt-contact{
        margin-left: -2.5rem;
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding-left: 5rem;
        padding-right: 5rem;
      }
      & .rt-phone{
        margin-left: -2.5rem;
        margin-top: 2rem;
        text-align: center;
      }
      & .rt-phone:hover, .rt-contact > a:hover, .rt-location:hover{
        text-decoration: underline;
        text-decoration-color: var(--color-span);
      }
    }
    & .Restaurant-images{
      display: flex;
      width: 70%;
      & img{
        width: 44%;
        flex-shrink: 0;
        margin-left: 1.5rem;
      }
      & .img-big{
        height: 35rem; 
        margin-left: 2rem; 
      }
      & .img-small{
        & img{
          height: 16.75rem;
        }
        & .img-up{
          display: flex;
          margin-bottom: 1.5rem;
        }
        & .img-down{
          display: flex;
        }
      }

    } 
  }
}
.Reviews{
  margin: 1rem;
  & .review-header{
    display: flex;
    border-bottom: 1px solid var(--color-text);
    border-width: 100%;
  }
  & .review-sort-filters{
    display: flex;
    margin-top: 3rem;
    & progress {
      border-radius: 0.75rem; 
      width: 12.23875rem;
      height: 1.57706rem;
    }
    & progress::-webkit-progress-bar {
      background-color: var(--color-span);
      border-radius: 0.75rem; 
    }
    & progress::-webkit-progress-value {
      background-color: var(--color-accent);
      border-radius: 0.75rem; 
    }    
  }
  & article{
    margin-top: 3rem;
    background-color: var(--color-bg-second);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    & .reviewer{
      align-self: start;
      & img{
        border-radius: 100%;
        width: 6.5rem;
        height: 6.5rem;
      }
      & h3{
        font: var(--p-font);
        text-align: center;
      }

    }
    & .review-main{
      margin-left: 1rem;
      & span{
        font: var(--p-font);
        font-size: 0.8rem;
        color: var(--color-span);
      }
      & p{
        margin-top: 1.5rem;
        display: block;
        font: var(--p-font);
        padding-right:25%;
        line-height: 1.5rem;
        word-spacing: normal;
      }
      & img{
        display: block;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        width: 10.25rem;
        height: 12.625rem;
      }
      & .dislike-label, & .like-label{
        margin-left: 1rem;
        cursor: pointer;
        fill: none;
        stroke: var(--color-accent);
        stroke-width: 1.5;
        & :hover{
          opacity: 0.8;
        }
      }
      & .dislike-label:has(:checked)  {
        fill: var(--color-accent);
        stroke: var(--color-accent);
        stroke-width: 1.5;
      }
      
      & .like-label:has(:checked)  {
        fill: var(--color-accent);
        stroke: var(--color-accent);
        stroke-width: 1.5;
      }
      & input {
        display: none;
      }
      & label > span{
        font: var(--p-font);
        font-size: 0.8rem;
        font-weight: bold;
      }

    }
  }
}

/*Review star shuu*/
.star-rating {
  appearance: none;
  color: transparent;
  width: auto;
  display: inline-block;
  vertical-align: baseline;
  font-size: 2rem;
}
.star-rating::before {
  --percent: calc(3/5*100%);
  content: '★★★★★'; 
  background: linear-gradient(90deg, var(--color-accent) var(--percent), var(--color-span) var(--percent));
  -webkit-background-clip: text;
}
#stars5::before{
  --percent: calc(5/5*100%);
  content: '★★★★★'; 
  background: linear-gradient(90deg, var(--color-accent) var(--percent), var(--color-span) var(--percent));
  -webkit-background-clip: text;
}
#stars4::before{
  --percent: calc(4/5*100%);
  content: '★★★★★'; 
  background: linear-gradient(90deg, var(--color-accent) var(--percent), var(--color-span) var(--percent));
  -webkit-background-clip: text;
}
#stars3::before{
  --percent: calc(3/5*100%);
  content: '★★★★★'; 
  background: linear-gradient(90deg, var(--color-accent) var(--percent), var(--color-span) var(--percent));
  -webkit-background-clip: text;
}
#stars2::before{
  --percent: calc(2/5*100%);
  content: '★★★★★'; 
  background: linear-gradient(90deg, var(--color-accent) var(--percent), var(--color-span) var(--percent));
  -webkit-background-clip: text;
}
#stars1::before{
  --percent: calc(1/5*100%);
  content: '★★★★★'; 
  background: linear-gradient(90deg, var(--color-accent) var(--percent), var(--color-span) var(--percent));  
  -webkit-background-clip: text;
} 
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}