@import url(root.css);
@media (prefers-color-scheme: dark) {
    :root{   
      --color-bg: #FFFFFF;
      --color-bg-second: #d9d9d9;
      --color-text: #0F0F0F;
      --color-span: #272727;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:var(--color-bg); ;
    font-family: var("Quicksand-Medium");
    color: var(--color-text);
}
/* Толгой хэсгийн хийх толгой хэсэг нь хоёр зүйл агуулдаг бөгөөд энэ нь нэвтрэх хэсэг болон лого агуулна. Лого-г хөдөлдөг анимашион болгон хийж байна. */
header{
    width: 100%;
    height:5.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var("Quicksand-Medium");
    font-size: var( --font-sizeTom);
   /*  border-bottom: 2px solid #D9D9D9; */
   width: 100%;
   height: 6.44rem;
   background: var( --color-bg);
   box-shadow: 0px 0px 10px 0px rgba(240, 251, 255, 0.20) inset;
    
   
}
/* header */
/* Толгой хэсэг */
/* logo section */
.logo{
    color: var(--color-accent);
    text-decoration: none;
    margin-left: 2.25rem;
    padding: var(--header-padding);

}
/* толгой хэсгийн нэвтрэх хэсэг болон түүн дээр дээр даран өөр хуудасруу шилжих хэсгийн хийж байна. */
.nevtreh{
    color: var(--color-text);
    font-size: var(--font-sizeSmall);
    font-family: var("Quicksand-Medium");
    margin: 1rem;
}
.nevtreh button{
   border-radius: 1.25rem;
   background: none;
   margin-right: var(--border-radius);
   width: 8.125rem;
   height: 3.125rem;
   border:var(--border);

}
.nevtreh :hover{
    border-color:var(--color-text);
}

main{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 70%;
    grid-gap: 1em 5em;
}
.filter_checkbox{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid var(--color-text);
    background: rgba(255, 255, 255, 0.00);
    display: flex;
    flex-direction: column;
    margin-top: 105px;
    color: var(--color-text);
}
.filter_checkbox h3{
    padding: 20px;
}
.filter_checkbox ul{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 20px;
}
.filter_checkbox ul li{
    display: flex;
}
.restaurant_article{
    color: var(--color-text);
    margin-top: 20px;
    width: 100%;
    height: 100%;
    
}

#restaurant_list li{
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    border-style: none;
    border-radius: 30px;
    background: rgba(217, 217, 217, 0.12);
    height: 20%;
    margin-top: 50px;
}

#restaurant_list img{
    width: 10.93563rem;
    height: 12.01306rem;
    flex-shrink: 0;
    border-radius: 40px;
    
    padding: 1rem;

}
.h_stars{
    display: grid;
    padding: 1rem;
    grid-row: 1;
    grid-column: 2;
    grid-template-columns: 1fr 2fr;
}
.starinli{
    margin-top: -0.8rem;
    grid-row: 1;
    grid-column: 2;

}
.paragraphs{
    display: flex;
    flex-direction: column;
    grid-row: 2;
    grid-column: 1;
    justify-content: space-between;
}

.filter_button{
    width: 20%;
    height: 37.154px;
    flex-shrink: 0;
    border-radius: 1.25rem;
    color: var(--color-text);
    background: var(--color-bg);
    margin-left: 80%;
    padding: 2px;

}
.filter_button:hover{
    cursor: pointer;
    border:var(--border);
}

.star-rating {
    appearance: none;
    color: transparent;
    width: auto;
    display: inline-block;
    vertical-align: baseline;
    font-size: 2rem;
  }
  .star-rating::before {
    --percent: calc(3/5*100%);
    content: '★★★★★'; 
    background: linear-gradient(90deg, var(--color-accent) var(--percent), var(--color-span) var(--percent));
    -webkit-background-clip: text;
  }
  #stars5::before{
    --percent: calc(5/5*100%);
    content: '★★★★★'; 
    background: linear-gradient(90deg, var(--color-accent) var(--percent), var(--color-span) var(--percent));
    -webkit-background-clip: text;
  }
  #stars4::before{
    --percent: calc(4/5*100%);
    content: '★★★★★'; 
    background: linear-gradient(90deg, var(--color-accent) var(--percent), var(--color-span) var(--percent));
    -webkit-background-clip: text;
  }
  #stars3::before{
    --percent: calc(3/5*100%);
    content: '★★★★★'; 
    background: linear-gradient(90deg, var(--color-accent) var(--percent), var(--color-span) var(--percent));
    -webkit-background-clip: text;
  }
  #stars2::before{
    --percent: calc(2/5*100%);
    content: '★★★★★'; 
    background: linear-gradient(90deg, var(--color-accent) var(--percent), var(--color-span) var(--percent));
    -webkit-background-clip: text;
  }
  #stars1::before{
    --percent: calc(1/5*100%);
    content: '★★★★★'; 
    background: linear-gradient(90deg, var(--color-accent) var(--percent), var(--color-span) var(--percent));
    -webkit-background-clip: text;  
  } 

    /*@media (min-width: 768px) {
        header {
            
            align-items: flex-start;
        }
    
        .logo {
            margin-left: 1rem;
        }
    
        .search-form {
            width: 30%;
            margin: 1rem;
        }
        .login-button{
            margin-right: 0;
            margin-top: 15px;
        }
        main {
            width: 100%;
            display: grid;
            grid-template-columns: 15% 80%;
            grid-gap: 2rem;
        }
    
        .filter_button {
            margin-right: 70%;
        }
    
        .filter_checkbox {
            margin-top: 5rem;
            width: auto;
        }
    

    
        .restaurant_list li {
            width: 100%;
            margin-top: 20px;
        }
    
        .restaurant_img {
            width: 10.93563rem;
            height: 12.01306rem;
            flex-shrink: 0; 
            border-radius: 1.25rem;
            padding: 30px;
        }
        

    }
    */
    /*wishlist*/
    .heart-label {
        cursor: pointer;
        fill: none;
        stroke: var(--color-text);
        stroke-width: 0.1rem;
        position: relative;
        right: -60%;
        margin-right: 5rem;
    }
    #heart-checkbox {
        display: none;
    }
    .heart-label:has(:checked)  {
        fill: var(--color-accent);
        stroke: var(--color-accent);
        stroke-width: 0.1rem;
    }