@import url(root.css);
body{
  width: 1440px;
  background: #0F0F0F;
}

/* HEADER SECTION */
header{
  display: flex;
  justify-content: space-between;
  background: rgba(15, 15, 15, 0.10);
box-shadow: 0px 4px 4px 0px rgba(240, 251, 255, 0.20);

/* HEADER HESGIIN LOGO YANZALSAN NI */

  & .logo{
    margin-left: 2%;
  }
  & button{
    
     width: 8.125rem;
    height: 3.125rem;
    margin-right: 2%;
    border-radius: 1.25rem;
    border: 3px solid var(--color-accent, #EE5151);
    background: none;
    color: #FFF;
    text-align: center;
    font-family:  'Quicksand', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.125rem;
  }
}

/* BODY HESEG NI UNDSEN HUYR HESEGTEI BOGOOD UG HESGIIG HIIJ BAIGAA HESEG */
.body{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* BODY hesgiin zvvn tal */
  & .left{
    color: #FFF;
  }
  /* tomoor bichsen ugiig taruulj baina */
  & .left h1{
    display: flex;
    justify-content: flex-end;
    width: 31.8125rem;
    height: 10.375rem;
    flex-direction: column;
    flex-shrink: 0;
    font-family:  'Quicksand', sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.375rem; /* 175% */
  }

  /* zuragtai hesgiig taaruulj baina. */
  & .left img{
    width: 28.46438rem;
    height: 31.402rem;
    border-radius: 1.25rem;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  }
  /*Restaurantin neriig taaruulj baina.*/
  & .left p{
    display: flex;
    width: 28.5625rem;
    height: 3.82888rem;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.2255rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.05431rem; /* 92.308% */
    letter-spacing: 0.00856rem;
  }


  /* BODY hesgiin baruun tal */
  & .right{
    color: #FFF;
  }
  & .right .rate{
   /*  width: 30rem;
    height: 6.5625rem;
    flex-shrink: 0; */
  }
  & .right h4{
    color: #FFF;
    font-family:  'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}





























































































































/*Review star using radio shuu*/
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  
  .radio-input {
    position: fixed;
    opacity: 0;
    pointer-events: none;
  }
  
  .radio-label {
    cursor: pointer;
    font-size: 0;
    color: var(--color-span);
    transition: color 0.1s ease-in-out;
  }
  
  .radio-label:before {
    content: "★";
    display: inline-block;
    font-size: 2rem;
  }
  
  .radio-input:checked ~ .radio-label {
    color: var(--color-accent);
  }
  
  .radio-label:hover,
  .radio-label:hover ~ .radio-label {
    color: var(--color-accent);
  }
  
  .radio-input:checked + .radio-label:hover,
  .radio-input:checked + .radio-label:hover ~ .radio-label,
  .radio-input:checked ~ .radio-label:hover,
  .radio-input:checked ~ .radio-label:hover ~ .radio-label,
  .radio-label:hover ~ .radio-input:checked ~ .radio-label {
    color: var(--color-accent);
  }
  
 
 
