:root {
    --color-accent: #EE5151;
    --color-bg: #0F0F0F;
    --color-bg-second: #272727;
    --color-text: #FFFFFF;
}
header{
  display: none;
}
body{
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    color: var(--color-text);
    text-align:left;
    font-style: normal;
    font-weight: bolder;
    font-size: 2.25rem;
}
#Restaurant-overview{
  margin: 5px;
  display: inline;
  
}
.Restaurant-overview-header{
  position: absolute;
  display: inline;

}
.overview{
  background-color: var(--color-bg-second);
  position: relative;
  margin: 17px;
  border-radius: 3.5%;
  width: 420px;
  & h3{
    color: var(--color-text);
    text-align: center;
    
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bold;
  }
  & h6{
    color: var(--color-text);
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: normal;
  }
  & p{
    color: var(--color-text);
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: lighter;
  }
  & nav{
    color: var(--color-text);
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: lighter;
  }
}
.Restaurant-images{
  & img{
    width: 20.875rem;
    flex-shrink: 0;;
  }
}
button{
  background-color: rgba(0, 0, 0, 0);
  border: 3;
  color: var(--color-text);
  border-color: var(--color-accent);
  border-radius: 20px;
  border-style: solid;
}
em{
  display: flex;
  width: 3.625rem;
  height: 1.5rem;
  padding: 0.25rem 0.625rem;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  border-radius: 6.25rem;
  background: var(--color-text);
  color:var(--color-bg-second);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem;
}
ul{
  list-style-type: none;
}
.Restaurant-overview{
  display: grid;
  grid-column: 30% 70%;
}