
@import url(root.css);
@media (prefers-color-scheme: dark) {
    :root{
      --color-bg: #FFFFFF;
      --color-bg-second: #d9d9d9;
      --color-text: #0F0F0F;
      --color-span: #272727;
    }
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background:var(--color-bg) ;
    font-family: 'quicksand';
    color: var(--color-text);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
/* BEST RESTAURANT  */
/* Home page-ний Best restaurants хэсгийг хийсэн нь: */
.resCard{
    width: 100%;
    & .ug {
        /* margin-top: 10.9rem; */
        margin-top: 3rem;
        margin-bottom: 2rem;
        margin-left: var(--margin-bodySmall);
        width: 25.0625rem;
        height: 3.125rem;
        font-weight: 700;
        line-height: 3.125rem;
        font: var(--ug-font);
        font-family: var(--font-family);
        font-size: var(--font-sizeBR);
        color: var(--color-text);
    }
    & .bestR {
        align-items: center;
        max-width: 1440px;
        margin: 0 auto;
        margin-bottom: 4rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    }
}



/* BODY1*/

/* Homepage-ны эхний хэсгийн текст, searchBar, зураг хэсгүүдийг хийх болно. */
.body1{
    width: 100%;
    text-align: center;
    /* 5 төрлөөр хайлт хийж болох бөгөөд уг хэсгийг эдит хийсэн нь: */
    & .search {
        display: flex;
        justify-content: space-evenly;
        /* figma deer hailtuudin hoorondoh zai haragdahgui baisan tul duraaraa avav. */
        margin-left: 14.375rem;
        margin-right: 14.375rem;
    
        & h5{
            color:var( --color-text) ;
            font-size: var(--font-sizeSmall);
        }
        & button{
            background: none;
            border: none;
        }
        & button :hover{
            text-decoration: underline;
            text-decoration-color:var(--color-accent);
        }
    }
}

.text1 h2{
    font-family: 'quicksand';
    text-shadow: var(--text-shadow);
    font-size: var(--font-sizeTom);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    height: var(--line-height);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* SEARCHBAR formtoi heseg*/
/* Search Bar хэсэг энэ хэсэгт яг хайлт хийх хэсгээ бичиж өгөх хэсгийг хийсэн */
.form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: var(--searchBar-height);
    margin-left: 10%;
    margin-top: 3.0625rem;
    border: 5px solid var(--color-accent);
    border-radius: 2.6rem;
    background: var(--color-text);
    & #searchbar::placeholder{
      font-family: 'quicksand';
      font-weight: lighter;
      color: rgba(0, 0, 0, 0.2);
    }

& .btn{
    width: 6rem;
    height: 3rem;
    justify-content: center;
    border: var(--border);
    align-items: center;
    border-radius: 1.5rem;
    margin-right: 1.5rem;
    background: var(--color-text);
    color: var( --color-accent);
    text-align: center;
    font-style: var( --font-style);
    font-size: var(--font-sizeSmall);
    font-family: var( --font-family);
}
& .btn:hover{
  color: var(--color-text);
  background: var(--color-accent);
  cursor: pointer;
  transition: .5s;
}
& input{
    border: none;
    font-size: var(--font-sizeSmall);
    /* bvgd center uchir hucheer baruun tiish zuuv */
    /* margin-right:10rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45rem;
    height: 2.5625rem;
    color: rgba(0,0,0,0.10);
    font-family: var(--font-family);
    font-size: var(--font-sizeSmall);
    font-style: var(--font-style);
    outline: none;
  /* x ig arilgah */

}
& input[type="search"] {
    color:var( --color-bg); /* Change this to the desired font color */
}

& .searchIcon{
    margin-left: 21px;
}
}
/* zuragHeseg нь нэг "h2" таг ашиглан хийсэн текст болон зураг ашигласан  */
.zuragHeseg{
    position: relative;

    & .hoolZurag{
        align-items: center;
        margin-top: 63px;
        width: 90%;
        height: 26rem;
        object-fit: cover;
        border-radius: 71px;
        background: linear-gradient(180deg, rgba(199,200,210,0.00), rgba(25,25,25,0.40) 20.39%,rgba(14, 14, 14, 0.50) 45.39%, rgba(0, 0, 0, 0.40) 70.39%, rgba(199, 200, 210, 0.00) 95.92%);
        filter: blur(4.5px);
    }
    & h2{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 12.4rem;
        font-weight: var(--font-weight);
        line-height: var(--line-height);
        color: var(--color-text);
        text-shadow: 0px 4px 4px rgba(1, 1, 1, 0.25);
        font-size: var(--font-sizeTom);
        font-style: var(--font-style);
        font-family: Quicksand;
    }
}

/* BODY 2 */
/* Home page-ний Best restaurants хэсгийг хийсэн нь: */
/* best restaurant gesen ug ni */
.ug {
    margin-top: 10.9rem;
    margin-left: var(--margin-bodySmall);
    width: 25.0625rem;
    height: 3.125rem;
    font-weight: 700;
    line-height: 3.125rem;
    font: var(--ug-font);
    font-family: var(--font-family);
    font-size: var(--font-sizeTom);
    color: var(--color-text);
}

/* RECENT REVIEW MAIN */

/*review*/
.recentR{
    width: 100%;
    & .recentReviews{
      margin-top: 3rem;
      margin-left: var(--margin-bodySmall);
      font-weight: 700;
      font: var(--ug-font);
      font-family: var(--font-family);
      font-size: var(--font-sizeTom);
      color: var(--color-text);
    }
    & article{
      width: 95%;
      height: auto;
      margin-top: 3rem;
      margin-bottom: 3rem;
      margin-left: var(--margin-bodySmall);
      padding: 2rem;
      background-color: var(--color-bg-second);
      border-radius: 1rem;
      display: flex;
      & .reviewer{
        align-self: start;
        & img{
          border-radius: 100%;
          width: 6.5rem;
          height: 6.5rem;
        }
        & h3{
          font: var(--p-font);
          text-align: center;
        }
    
      }
      & .review-main{
        display: inline-block;
        margin-left: 1rem;
        width: 90%;
        & .rating-report{
          display: flex;
          justify-content: space-between;
          width: 100%;
        }
        & button{
          background-color: transparent;
          border-width: 0;
          & :hover{
              cursor: pointer;
              opacity: 0.8;
          }
        }
        & p{
          width: 100%;
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
          font: var(--p-font);
          text-align: justify;
        }
        & .comment-reaction{
          width: 7rem;
          display: flex;
          justify-content: space-between;
          & span{
            display: block;
            align-items: center;
            font: normal bold 0.8rem 'quicksand'; 
            color: var(--color-span);
          }
          & svg{
            margin: 5%;
          }
          & .dislike-label, & .like-label{
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            fill: none;
            stroke: var(--color-accent);
            stroke-width: 1.5;
            & :hover{
              opacity: 0.8;
            }
          }
          & .dislike-label:has(:checked)  {
            fill: var(--color-accent);
            stroke: var(--color-accent);
            stroke-width: 1.5;
          }
          
          & .like-label:has(:checked)  {
            fill: var(--color-accent);
            stroke: var(--color-accent);
            stroke-width: 1.5;
          }
          & input {
            display: none;
          }
        }
      }
    }
}
