@import url(root.css);
@media (prefers-color-scheme: dark) {
    :root{   
      --color-bg: #FFF;
      --color-bg-second: #d9d9d9;
      --color-text: #0F0F0F;
      --color-span: #272727;
    }
}
/* HomePage dahi carduudin style. */
.idy-card{
width: 23rem;
height: 17.25rem;
background: var(--color-bg-second);
margin: var(--margin-bodySmall);
border-radius: 1.25rem;
position: relative;
    & img {
        width: 100%;
        height: 10rem;
        border-radius: 1.25rem;
    }
}
/* Res-n ner bolon heart button-ni css */
.cardInfo{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 1rem;
    font-family: var("Quicksand-Medium");
    & .resName{
        margin: 0px !important;
        width:18rem;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height:2rem; 
        letter-spacing: 0.00625rem;
        color: var(--color-text);
    }
    & .heart-label {
        cursor: pointer;
        fill: none;
        stroke: var(--color-text);
        stroke-width: 0.2rem;
        position: relative;
        right: -60%;
    }
    & #heart-checkbox {
    display: none;
    }
    & .heart-label:has(:checked)  {
    fill: var(--color-accent);
    stroke: var(--color-accent);
    stroke-width: 0.2rem;
    }
    & idy-like-btn{
        margin-top: 0.2rem;
        width: 1.5rem;
        height: 1rem;
    }
}

/* Card-n dotorh time bolon price-n medeelel */
.cardInfo1{
    margin-left: 1rem;
    margin-top: 0.5rem;
    color: var(--color-text);
    font-size: 0.75rem;
    font-weight: 700;
    font-style: normal;
    & .time{
        margin-left: 0.2rem;
    }
    & .price{
        margin-left: 0.2rem;
    }
}

/* Cardn dotorh Type bolon Stars-in css */
.cardInfo2{
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    & .foodType{
        width: 3.5rem;
        height: 1rem;
        margin-left: 1rem;
        margin-top: 1rem;
        padding: 0.25rem 0.625rem;
        gap: 0.5rem;
        border-radius: 6.25rem;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 600;
        color: var(--color-bg);
        background: var(--color-text);
    }
    & .rating{
        margin-right: 0.6rem;
    }
}
/* search-card */
li{
    list-style: none;
    & article{
        background: var(--color-bg-second);
        border-style: none;
        border-radius: 30px;
        width: 100%;
        height: auto;
        margin-bottom: 2.4rem;
        display: grid;
        grid-template-areas:
            'img name star heart'
            'img rank rank rank'
            'img time time time'
            'img des des des';
        align-items: center;
        & h2 { grid-area: name; width: 20rem; }
        & .rating { grid-area: star;}
        & .wishlist { grid-area: heart;}
        & .rank { grid-area: rank;}
        & .time { grid-area: time;}
        & .description { grid-area: des;}
        & img{
            width: 12rem;
            height: 14rem;
            border-radius: 40px;
            object-fit: cover; 
            padding: 1rem;
            grid-area: img;
        }
        & .heart-label {
            cursor: pointer;
            fill: none;
            stroke: var(--color-text);
            stroke-width: 0.2rem;
            position: relative;
            right: -60%;
            margin-right: 5rem;
          }
        & #heart-checkbox {
        display: none;
        }
        & .heart-label:has(:checked) {
        fill: var(--color-accent);
        stroke: var(--color-accent);
        stroke-width: 0.2rem;
        }
    }
}
