@import url(root.css);
@media (prefers-color-scheme: dark) {
    :root{   
      --color-bg: #FFFFFF;
      --color-bg-second: #d9d9d9;
      --color-text: #0F0F0F;
      --color-span: #272727;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:var(--color-bg); ;
    font-family: var(--Quicksand-Medium);
    color: var(--color-text);
}
main{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 70%;
    grid-gap: 1em 5em;
    & .filter_checkbox{
        width: 100%;
        margin-left: 5%;
        border-radius: 20px;
        border: 2px solid var(--color-text);
        display: flex;
        flex-direction: column;
        color: var(--color-text);
        & h3{
            padding: 20px;
        }
        & ul{
            display: flex;
            flex-direction: column;
            gap: 2em;
            padding: 20px;
        }
        & li{
            display: flex;
        }
    }
    & .search_button{
        grid-column: 2;
        width: 10%;
        height: 3rem;
        font: var(--font-p);    
        color: var(--color-text);
        background: var(--color-bg);
        margin-top: 5%;
        margin-left: 90%;
        border:var(--border);
        border-radius: 1.25rem;
        padding: 2px;
    }
    & .search_button:hover{
        color: var(--color-text);
        background: var(--color-accent);
        cursor: pointer;
        transition: .5s;
    }
    & .restaurant_container{
        margin-top: 0;
    }
}

#restaurant_list{
    color: var(--color-text);
    margin-bottom: 20px;    
    width: 100%;
    height: auto;
    background: var(--color-bg);    
    & li{
        list-style: none;
    }
    & article{
        background: var(--color-bg-second);
        border-style: none;
        border-radius: 30px;
        width: 100%;
        height: auto;
        margin-bottom: 2.4rem;
        display: grid;
        grid-template-areas:
            'img name star heart'
            'img rank rank rank'
            'img time time time'
            'img des des des';
        align-items: center;
        & h2 { grid-area: name; width: 20rem; }
        & .rating { grid-area: star;}
        & .wishlist { grid-area: heart;}
        & .rank { grid-area: rank;}
        & .time { grid-area: time;}
        & .description { grid-area: des;}
        & img{
            width: 12rem;
            height: 14rem;
            border-radius: 40px;
            object-fit: cover; 
            padding: 1rem;
            grid-area: img;
        }
        & .heart-label {
            cursor: pointer;
            fill: none;
            stroke: var(--color-text);
            stroke-width: 0.2rem;
            position: relative;
            right: -60%;
            margin-right: 5rem;
          }
        & #heart-checkbox {
        display: none;
        }
        & .heart-label:has(:checked) {
        fill: var(--color-accent);
        stroke: var(--color-accent);
        stroke-width: 0.2rem;
        }
    }
}

    /*@media (min-width: 768px) {
        header {
            
            align-items: flex-start;
        }
    
        .logo {
            margin-left: 1rem;
        }
    
        .search-form {
            width: 30%;
            margin: 1rem;
        }
        .login-button{
            margin-right: 0;
            margin-top: 15px;
        }
        main {
            width: 100%;
            display: grid;
            grid-template-columns: 15% 80%;
            grid-gap: 2rem;
        }
    
        .filter_button {
            margin-right: 70%;
        }
    
        .filter_checkbox {
            margin-top: 5rem;
            width: auto;
        }
    

    
        .restaurant_list li {
            width: 100%;
            margin-top: 20px;
        }
    
        .restaurant_img {
            width: 10.93563rem;
            height: 12.01306rem;
            flex-shrink: 0; 
            border-radius: 1.25rem;
            padding: 30px;
        }
        

    }
    */
    /*wishlist*/
    .heart-label {
        cursor: pointer;
        fill: none;
        stroke: var(--color-text);
        stroke-width: 0.1rem;
        position: relative;
        right: -60%;
        margin-right: 5rem;
    }
    #heart-checkbox {
        display: none;
    }
    .heart-label:has(:checked)  {
        fill: var(--color-accent);
        stroke: var(--color-accent);
        stroke-width: 0.1rem;
    }